@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

html.light-theme {
  filter: invert(1) hue-rotate(180deg);
  background-color: #fafafa;
}

html.light-theme img,
html.light-theme video,
html.light-theme iframe {
  filter: invert(1) hue-rotate(180deg);
}

/* Hide default leaflet routing machine instruction box */
.leaflet-routing-container {
  display: none !important;
}
